.version.accidents /* version checker */
{
	color: #0000F7;
	background-color: #82EC75;
}

.html
{
	background: #FFFFFF url("../images/mainbg.jpg") repeat-x center center scroll;
}

#page
{
	z-index: 1;
	width: 1060px;
	min-height: 845px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#u911
{
	z-index: 130;
	top: 0px;
	left: 50%;
	margin-left: -1172px;
}

#u911_img
{
	width: 2350px;
	height: 197px;
}

#pu3097
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 78px;
	margin-left: -100px;
}

#u3097
{
	z-index: 2;
	min-height: 595.742268041237px;
	padding-bottom: 0px;
}

#u3097_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1060px;
	left: -100px;
}

#u3097_position_content
{
	margin-top: -14px;
	margin-bottom: -11px;
}

#u912-4
{
	z-index: 124;
	width: 166px;
	min-height: 38px;
	left: 167px;
}

#pu2485
{
	width: 0.01px;
	left: 161px;
	margin-top: 16px;
	position: relative;
}

#u2485
{
	z-index: 97;
	width: 216px;
	margin-right: -10000px;
}

#u289
{
	z-index: 98;
	width: 216px;
	height: 29px;
}

#u289:hover
{
	width: 216px;
	height: 29px;
	min-height: 0px;
	margin: 0px;
}

#u289:active
{
	width: 216px;
	height: 29px;
	min-height: 0px;
	margin: 0px;
}

#u289.MuseLinkActive
{
	width: 216px;
	height: 29px;
	min-height: 0px;
	margin: 0px;
}

#u1599
{
	z-index: 102;
	width: 216px;
	height: 29px;
	margin-top: 2px;
}

#u1599:hover
{
	width: 216px;
	height: 29px;
	min-height: 0px;
	margin: 2px 0px 0px;
}

#u1599:active
{
	width: 216px;
	height: 29px;
	min-height: 0px;
	margin: 2px 0px 0px;
}

#u311
{
	z-index: 100;
	width: 216px;
	height: 29px;
	margin-top: 2px;
}

#u1599.MuseLinkActive,#u311:hover
{
	width: 216px;
	height: 29px;
	min-height: 0px;
	margin: 2px 0px 0px;
}

#u311:active
{
	width: 216px;
	height: 29px;
	min-height: 0px;
	margin: 2px 0px 0px;
}

#u310
{
	z-index: 99;
	width: 216px;
	height: 29px;
	margin-top: 2px;
}

#u311.MuseLinkActive,#u310:hover
{
	width: 216px;
	height: 29px;
	min-height: 0px;
	margin: 2px 0px 0px;
}

#u310:active
{
	width: 216px;
	height: 29px;
	min-height: 0px;
	margin: 2px 0px 0px;
}

#u310.MuseLinkActive
{
	width: 216px;
	height: 29px;
	min-height: 0px;
	margin: 2px 0px 0px;
}

#u312
{
	z-index: 101;
	width: 216px;
	height: 29px;
	margin-top: 3px;
}

#u312:hover
{
	width: 216px;
	height: 29px;
	min-height: 0px;
	margin: 3px 0px 0px;
}

#u312:active
{
	width: 216px;
	height: 29px;
	min-height: 0px;
	margin: 3px 0px 0px;
}

#u312.MuseLinkActive
{
	width: 216px;
	height: 29px;
	min-height: 0px;
	margin: 3px 0px 0px;
}

#pu2004-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 33px;
	margin-left: 334px;
}

#u2004-4
{
	z-index: 61;
	width: 545px;
	min-height: 41px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	font-size: 30px;
	text-align: center;
	line-height: 36px;
	position: relative;
	border-width: 0px 0px 1px;
}

#u650-8
{
	z-index: 38;
	width: 545px;
	min-height: 65px;
	background-color: transparent;
	font-size: 16px;
	line-height: 19px;
	font-weight: normal;
	margin-top: 25px;
	position: relative;
}

#ppu1281-14
{
	width: 0.01px;
	left: 86px;
	margin-top: 15px;
	position: relative;
}

#pu1281-14
{
	width: 0.01px;
	margin-right: -10000px;
}

#u1281-14
{
	z-index: 79;
	width: 213px;
	min-height: 108px;
	margin-left: 57px;
}

#u1679
{
	z-index: 77;
	width: 297px;
	margin-top: 54px;
}

#u1679_img
{
	padding-top: 6px;
	padding-right: 5px;
	padding-bottom: 7px;
}

#pu656-5
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 18px;
	margin-left: 409px;
}

#u656-5
{
	z-index: 56;
	width: 641px;
	min-height: 40px;
	background-color: transparent;
	position: relative;
}

#u656-2
{
	font-size: 24px;
	line-height: 29px;
	font-weight: bold;
}

#u645
{
	z-index: 3;
	width: 545px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 3px;
	position: relative;
}

#u532-17
{
	z-index: 4;
	width: 545px;
	min-height: 128px;
	background-color: transparent;
	font-size: 15px;
	line-height: 18px;
	position: relative;
	margin-right: -10000px;
}

#u532-2,#u532-4,#u532-6,#u532-8,#u532-10,#u532-12,#u532-14
{
	padding-left: -5px;
}

#u532-15 > #u532-2:before,#u532-15 > #u532-4:before,#u532-15 > #u532-6:before,#u532-15 > #u532-8:before,#u532-15 > #u532-10:before,#u532-15 > #u532-12:before,#u532-15 > #u532-14:before
{
	visibility: hidden;
	counter-increment: list 0;
	margin-right: 32px;
}

#u532-15.rtl-list > #u532-2:before,#u532-15.rtl-list > #u532-4:before,#u532-15.rtl-list > #u532-6:before,#u532-15.rtl-list > #u532-8:before,#u532-15.rtl-list > #u532-10:before,#u532-15.rtl-list > #u532-12:before,#u532-15.rtl-list > #u532-14:before
{
	margin-right: 0px;
	margin-left: 32px;
}

#u1128
{
	z-index: 21;
	width: 12px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 18px;
}

#u1135
{
	z-index: 22;
	width: 12px;
	background-color: transparent;
	position: relative;
}

#u1133
{
	z-index: 24;
	width: 12px;
	background-color: transparent;
	margin-top: 3px;
	position: relative;
}

#u1129
{
	z-index: 26;
	width: 12px;
	background-color: transparent;
	margin-top: 2px;
	position: relative;
}

#u1131
{
	z-index: 28;
	width: 12px;
	background-color: transparent;
	margin-top: 3px;
	position: relative;
}

#u1137
{
	z-index: 30;
	width: 12px;
	background-color: transparent;
	margin-top: 3px;
	position: relative;
}

#u1139
{
	z-index: 32;
	width: 12px;
	background-color: transparent;
	margin-top: 3px;
	position: relative;
}

#u1151
{
	z-index: 34;
	width: 12px;
	background-color: transparent;
	margin-top: 2px;
	position: relative;
}

#u1154
{
	z-index: 36;
	width: 12px;
	background-color: transparent;
	margin-top: 3px;
	position: relative;
}

#u653-10
{
	z-index: 46;
	width: 545px;
	min-height: 121px;
	background-color: transparent;
	font-size: 15px;
	text-align: justify;
	line-height: 18px;
	margin-top: 30px;
	position: relative;
}

#u650-4,#u653-4
{
	font-weight: bold;
}

#u653-6
{
	text-decoration: underline;
	color: #FF0000;
	font-weight: bold;
}

#u653-7
{
	color: #FF0000;
	font-weight: bold;
}

#u3097-bw
{
	z-index: 2;
	min-height: 595.742268041237px;
	margin-top: 126px;
}

#u1664
{
	z-index: 72;
	width: 379px;
	margin-right: -10000px;
	left: 476px;
}

#u419
{
	z-index: 73;
	width: 379px;
	margin-right: -10000px;
}

#u228
{
	z-index: 75;
	width: 259px;
	margin-right: -10000px;
	margin-top: 45px;
	left: 57px;
}

#u1380-4
{
	z-index: 93;
	width: 130px;
	min-height: 37px;
	margin-right: -10000px;
	margin-top: 465px;
	left: 143px;
}

#u2486
{
	z-index: 103;
	width: 162px;
	margin-right: -10000px;
	margin-top: 173px;
	left: 169px;
}

#u314-4
{
	z-index: 104;
	width: 162px;
	min-height: 22px;
}

#u1600-4
{
	z-index: 120;
	width: 162px;
	min-height: 22px;
	margin-top: 10px;
}

#u316-4
{
	z-index: 112;
	width: 162px;
	min-height: 22px;
	margin-top: 10px;
}

#u315-4
{
	z-index: 108;
	width: 162px;
	min-height: 22px;
	margin-top: 10px;
}

#u317-4
{
	z-index: 116;
	width: 162px;
	min-height: 29px;
	margin-top: 6px;
}

#u1828
{
	z-index: 128;
	width: 421px;
	margin-right: -10000px;
	margin-top: 342px;
	left: 230px;
}

#pu1572
{
	width: 0.01px;
	margin: 845px -10000px -250px -100px;
}

#u1572
{
	z-index: 65;
	height: 247px;
}

#u1572-bw
{
	z-index: 65;
	margin-top: -3px;
	height: 247px;
}

#u1573-6
{
	z-index: 66;
	min-height: 19px;
}

#u1573-6-bw
{
	z-index: 66;
	min-height: 19px;
	margin-top: 24px;
}

body
{
	position: relative;
	min-width: 1060px;
	padding-bottom: 80px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -844px;
}

