.version.accidentes /* version checker */
{
	color: #0000F6;
	background-color: #948E5F;
}

.html
{
	background: #FFFFFF url("../images/mainbg.jpg") repeat left top scroll;
}

#page
{
	z-index: 1;
	width: 1060px;
	min-height: 813px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#u475
{
	z-index: 128;
	top: -4px;
	left: 50%;
	margin-left: -1176px;
}

#u475_img
{
	width: 2350px;
	height: 197px;
}

#pu3098
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 82px;
	margin-left: -100px;
}

#u3098
{
	z-index: 2;
	min-height: 599px;
}

#u3098_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1060px;
	left: -100px;
	padding-top: 10px;
	padding-bottom: 47px;
}

#u1235-4
{
	z-index: 80;
	width: 176px;
	min-height: 38px;
	left: 166px;
}

#ppu489
{
	width: 0.01px;
	left: 166px;
	margin-top: 10px;
	position: relative;
}

#pu489
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
}

#u489
{
	z-index: 103;
	width: 216px;
	padding-bottom: 6px;
}

#u489:hover
{
	width: 216px;
	min-height: 0px;
	margin: 0px;
}

#u489:active
{
	width: 216px;
	min-height: 0px;
	margin: 0px;
}

#u489.MuseLinkActive
{
	width: 216px;
	min-height: 0px;
	margin: 0px;
}

#u487-4
{
	z-index: 107;
	width: 153px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 10px;
}

#u1660
{
	z-index: 123;
	width: 216px;
	padding-bottom: 3px;
	margin-top: 2px;
}

#u1660:hover
{
	width: 216px;
	min-height: 0px;
	margin: 2px 0px 0px;
}

#u1660:active
{
	width: 216px;
	min-height: 0px;
	margin: 2px 0px 0px;
}

#u1627-4
{
	z-index: 124;
	width: 153px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 10px;
}

#u2199-4
{
	z-index: 62;
	width: 545px;
	min-height: 41px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	font-size: 30px;
	text-align: center;
	line-height: 36px;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 329px;
	border-width: 0px 0px 1px;
}

#u490
{
	z-index: 104;
	width: 216px;
	padding-bottom: 6px;
	left: 166px;
	margin-top: 3px;
}

#u490:hover
{
	width: 216px;
	min-height: 0px;
	margin: 3px 0px 0px;
}

#u490:active
{
	width: 216px;
	min-height: 0px;
	margin: 3px 0px 0px;
}

#u490.MuseLinkActive
{
	width: 216px;
	min-height: 0px;
	margin: 3px 0px 0px;
}

#u491-4
{
	z-index: 111;
	width: 153px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 10px;
}

#u485
{
	z-index: 105;
	width: 216px;
	padding-bottom: 5px;
	left: 166px;
	margin-top: 2px;
}

#u1660.MuseLinkActive,#u485:hover
{
	width: 216px;
	min-height: 0px;
	margin: 2px 0px 0px;
}

#u485:active
{
	width: 216px;
	min-height: 0px;
	margin: 2px 0px 0px;
}

#u485.MuseLinkActive
{
	width: 216px;
	min-height: 0px;
	margin: 2px 0px 0px;
}

#u492-4
{
	z-index: 115;
	width: 153px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 10px;
}

#ppu488
{
	width: 0.01px;
	left: 147px;
	margin-top: 1px;
	position: relative;
}

#pu488
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 2px;
}

#u488
{
	z-index: 106;
	width: 216px;
	padding-bottom: 6px;
	margin-left: 19px;
}

#u488:hover
{
	width: 216px;
	min-height: 0px;
	margin: 0px 0px 0px 19px;
}

#u488:active
{
	width: 216px;
	min-height: 0px;
	margin: 0px 0px 0px 19px;
}

#u488.MuseLinkActive
{
	width: 216px;
	min-height: 0px;
	margin: 0px 0px 0px 19px;
}

#u486-4
{
	z-index: 119;
	width: 153px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 10px;
}

#u1316-13
{
	z-index: 84;
	width: 213px;
	min-height: 130px;
	margin-top: 25px;
}

#pu1305-8
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 347px;
}

#u1305-8
{
	z-index: 38;
	width: 545px;
	min-height: 74px;
	background-color: transparent;
	font-size: 16px;
	line-height: 19px;
	font-weight: normal;
	position: relative;
}

#u1286
{
	z-index: 3;
	width: 645px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 48px;
	position: relative;
}

#u1287-17
{
	z-index: 4;
	width: 645px;
	min-height: 133px;
	background-color: transparent;
	font-size: 15px;
	line-height: 18px;
	position: relative;
	margin-right: -10000px;
}

#u1287-2,#u1287-4,#u1287-6,#u1287-8,#u1287-10,#u1287-12,#u1287-14
{
	padding-left: -5px;
}

#u1287-15 > #u1287-2:before,#u1287-15 > #u1287-4:before,#u1287-15 > #u1287-6:before,#u1287-15 > #u1287-8:before,#u1287-15 > #u1287-10:before,#u1287-15 > #u1287-12:before,#u1287-15 > #u1287-14:before
{
	visibility: hidden;
	counter-increment: list 0;
	margin-right: 32px;
}

#u1287-15.rtl-list > #u1287-2:before,#u1287-15.rtl-list > #u1287-4:before,#u1287-15.rtl-list > #u1287-6:before,#u1287-15.rtl-list > #u1287-8:before,#u1287-15.rtl-list > #u1287-10:before,#u1287-15.rtl-list > #u1287-12:before,#u1287-15.rtl-list > #u1287-14:before
{
	margin-right: 0px;
	margin-left: 32px;
}

#u1288
{
	z-index: 21;
	width: 12px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 19px;
}

#u1301
{
	z-index: 22;
	width: 12px;
	background-color: transparent;
	position: relative;
}

#u1291
{
	z-index: 24;
	width: 12px;
	background-color: transparent;
	margin-top: 3px;
	position: relative;
}

#u1299
{
	z-index: 26;
	width: 12px;
	background-color: transparent;
	margin-top: 4px;
	position: relative;
}

#u1293
{
	z-index: 28;
	width: 12px;
	background-color: transparent;
	margin-top: 3px;
	position: relative;
}

#u1303
{
	z-index: 30;
	width: 12px;
	background-color: transparent;
	margin-top: 3px;
	position: relative;
}

#u1289
{
	z-index: 32;
	width: 12px;
	background-color: transparent;
	margin-top: 3px;
	position: relative;
}

#u1295
{
	z-index: 34;
	width: 12px;
	background-color: transparent;
	margin-top: 4px;
	position: relative;
}

#u1297
{
	z-index: 36;
	width: 12px;
	background-color: transparent;
	margin-top: 3px;
	position: relative;
}

#u1306-11
{
	z-index: 46;
	width: 538px;
	min-height: 111px;
	background-color: transparent;
	font-size: 15px;
	text-align: justify;
	line-height: 18px;
	left: 495px;
	margin-top: 4px;
	position: relative;
}

#u1305-4,#u1306-5
{
	font-weight: bold;
}

#u1306-7
{
	text-decoration: underline;
	color: #FF0000;
	font-weight: bold;
}

#u1306-8
{
	text-decoration: underline;
	color: #FF0000;
}

#u3098-bw
{
	z-index: 2;
	min-height: 599px;
	margin-top: 105px;
}

#u1307-5
{
	z-index: 57;
	width: 641px;
	min-height: 26px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 366px;
	left: 497px;
}

#u1307-2
{
	font-size: 24px;
	line-height: 29px;
	font-weight: bold;
}

#u1663
{
	z-index: 73;
	width: 379px;
	margin-right: -10000px;
	left: 467px;
}

#u477
{
	z-index: 74;
	width: 379px;
	margin-right: -10000px;
}

#u482
{
	z-index: 76;
	width: 259px;
	margin-right: -10000px;
	margin-top: 46px;
	left: 53px;
}

#u1968
{
	z-index: 78;
	width: 421px;
	margin-right: -10000px;
	margin-top: 338px;
	left: 230px;
}

#u1379-4
{
	z-index: 97;
	width: 130px;
	min-height: 37px;
	margin-right: -10000px;
	margin-top: 470px;
	left: 148px;
}

#u1628
{
	z-index: 101;
	width: 284px;
	margin-right: -10000px;
	margin-top: 519px;
	left: 112px;
}

#u1628_img
{
	padding-left: 10px;
	padding-right: 27px;
}

#pu914
{
	width: 0.01px;
	margin: 833px -10000px -270px -100px;
}

#u914
{
	z-index: 66;
	height: 247px;
}

#u914-bw
{
	z-index: 66;
	margin-top: -3px;
	height: 247px;
}

#u479-6
{
	z-index: 67;
	min-height: 19px;
}

#u479-6-bw
{
	z-index: 67;
	min-height: 19px;
	margin-top: 40px;
}

body
{
	position: relative;
	min-width: 1060px;
	padding-bottom: 96px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -833px;
}

