.version.commercial /* version checker */
{
	color: #0000F1;
	background-color: #4F0FEB;
}

.html
{
	background-color: #D199A0;
	background: -webkit-gradient(linear, center top, center bottom, from(#D199A0),color-stop(100%, #E8B7BC));
	background: -webkit-linear-gradient(top,#D199A0 ,#E8B7BC 100%);
	background: -o-linear-gradient(top,#D199A0 ,#E8B7BC 100%);
	background: linear-gradient(to bottom,#D199A0 ,#E8B7BC 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFD199A0, endColorstr=#FFE8B7BC, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFD199A0', endColorstr='#FFE8B7BC', GradientType=0)";
}

#page
{
	z-index: 1;
	width: 1060px;
	min-height: 874.742268041237px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 68px;
}

#pu210
{
	width: 0.01px;
	margin-left: -642px;
}

#u210
{
	z-index: 9;
	width: 15px;
	margin-right: -10000px;
	margin-top: 175px;
	left: 974px;
}

#u210_img
{
	padding-top: 3px;
	padding-bottom: 3px;
}

#u912-4
{
	z-index: 11;
	width: 166px;
	min-height: 38px;
	margin-right: -10000px;
	margin-top: 190px;
	left: 709px;
}

#u1650
{
	z-index: 33;
	width: 178px;
	margin-right: -10000px;
	margin-top: 244px;
	left: 702px;
}

#u289
{
	z-index: 34;
	width: 176px;
	padding-bottom: 11px;
	margin-left: 2px;
}

#u289:hover
{
	margin: 0px 0px 0px 2px;
}

#u289:active
{
	margin: 0px 0px 0px 2px;
}

#u289.MuseLinkActive
{
	margin: 0px 0px 0px 2px;
}

#u314-4
{
	z-index: 38;
	width: 121px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 28px;
}

#u1599
{
	z-index: 54;
	width: 176px;
	padding-bottom: 10px;
	top: -6px;
	margin-bottom: -6px;
}

#u1599:hover
{
	margin: 0px 0px -6px;
}

#u1599:active
{
	margin: 0px 0px -6px;
}

#u1599.MuseLinkActive
{
	margin: 0px 0px -6px;
}

#u1600-4
{
	z-index: 55;
	width: 121px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 28px;
}

#u311
{
	z-index: 36;
	width: 176px;
	padding-bottom: 10px;
	margin-left: 2px;
	top: -6px;
	margin-bottom: -6px;
}

#u311:hover
{
	margin: 0px 0px -6px 2px;
}

#u311:active
{
	margin: 0px 0px -6px 2px;
}

#u316-4
{
	z-index: 46;
	width: 121px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 28px;
}

#u310
{
	z-index: 35;
	width: 176px;
	padding-bottom: 9px;
	margin-left: 2px;
	top: -6px;
	margin-bottom: -6px;
}

#u311.MuseLinkActive,#u310:hover
{
	margin: 0px 0px -6px 2px;
}

#u310:active
{
	margin: 0px 0px -6px 2px;
}

#u310.MuseLinkActive
{
	margin: 0px 0px -6px 2px;
}

#u315-4
{
	z-index: 42;
	width: 121px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 28px;
}

#u312
{
	z-index: 37;
	width: 176px;
	padding-bottom: 11px;
	margin-left: 2px;
	top: -5px;
	margin-bottom: -5px;
}

#u312:hover
{
	margin: 0px 0px -5px 2px;
}

#u312:active
{
	margin: 0px 0px -5px 2px;
}

#u312.MuseLinkActive
{
	margin: 0px 0px -5px 2px;
}

#u317-4
{
	z-index: 50;
	width: 165px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 6px;
}

#u1664
{
	z-index: 61;
	width: 379px;
	margin-right: -10000px;
	margin-top: 78px;
	left: 1018px;
}

#u419
{
	z-index: 62;
	width: 379px;
	margin-right: -10000px;
}

#u228
{
	z-index: 64;
	width: 259px;
	margin-right: -10000px;
	margin-top: 45px;
	left: 57px;
}

#u911
{
	z-index: 66;
	width: 2353px;
	margin-right: -10000px;
}

#u911_img
{
	width: 2353px;
	height: 200px;
}

#u1281-14
{
	z-index: 15;
	width: 213px;
	min-height: 108px;
	margin-left: 43px;
	margin-top: 1px;
}

#u1380-4
{
	z-index: 29;
	width: 130px;
	min-height: 37px;
	margin-left: 43px;
}

#u1679
{
	z-index: 59;
	width: 297px;
	left: -14px;
	margin-top: 13px;
}

#u1679_img
{
	padding-top: 6px;
	padding-right: 5px;
	padding-bottom: 7px;
}

#u1572
{
	z-index: 2;
	height: 83px;
	bottom: -5px;
}

#u1572-bw
{
	z-index: 2;
}

#u1573-6
{
	z-index: 3;
	min-height: 19px;
	bottom: 41px;
}

#u1573-6-bw
{
	z-index: 3;
}

body
{
	position: relative;
	min-width: 1060px;
	padding-bottom: 80px;
}

#page .verticalspacer
{
	clear: both;
}

