#u475
{
	position: fixed;
}

#u475_img
{
	vertical-align: top;
	background: url("../images/consur%20head%20bar-01-u475.png") no-repeat 0px 0px;
}

#u3098
{
	background-color: transparent;
}

#u3098_align_to_page
{
	position: relative;
}

#u1235-4
{
	background-color: transparent;
	font-size: 25px;
	text-align: center;
	line-height: 30px;
	font-weight: bold;
	position: relative;
}

#u489
{
	position: relative;
	background: transparent url("../images/nav-bar_consur.png") no-repeat left top;
	background-size: contain;
}

#u489:hover
{
	background: transparent url("../images/nav-bar_consur-over.png") no-repeat left top;
	background-size: contain;
}

#u489:active
{
	background: transparent url("../images/nav-bar_consur.png") no-repeat left top;
	background-size: contain;
}

#u1660
{
	position: relative;
	background: transparent url("../images/nav-bar_consur.png") no-repeat left top;
	background-size: contain;
}

#u1660:hover
{
	background: transparent url("../images/nav-bar_consur-over.png") no-repeat left top;
	background-size: contain;
}

#u1660:active
{
	background: transparent url("../images/nav-bar_consur.png") no-repeat left top;
	background-size: contain;
}

#u490
{
	position: relative;
	background: transparent url("../images/nav-bar_consur.png") no-repeat left top;
	background-size: contain;
}

#u490:hover
{
	background: transparent url("../images/nav-bar_consur-over.png") no-repeat left top;
	background-size: contain;
}

#u490:active
{
	background: transparent url("../images/nav-bar_consur.png") no-repeat left top;
	background-size: contain;
}

#u485
{
	position: relative;
	background: transparent url("../images/nav-bar_consur.png") no-repeat left top;
	background-size: contain;
}

#u485:hover
{
	background: transparent url("../images/nav-bar_consur-over.png") no-repeat left top;
	background-size: contain;
}

#u485:active
{
	background: transparent url("../images/nav-bar_consur.png") no-repeat left top;
	background-size: contain;
}

#u487-4,#u1627-4,#u491-4,#u492-4
{
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	position: relative;
}

#u488
{
	position: relative;
	background: transparent url("../images/nav-bar_consur.png") no-repeat left top;
	background-size: contain;
}

#u488:hover
{
	background: transparent url("../images/nav-bar_consur-over.png") no-repeat left top;
	background-size: contain;
}

#u488:active
{
	background: transparent url("../images/nav-bar_consur.png") no-repeat left top;
	background-size: contain;
}

#u489.MuseLinkActive,#u1660.MuseLinkActive,#u490.MuseLinkActive,#u485.MuseLinkActive,#u488.MuseLinkActive
{
	background: transparent url("../images/nav-bar_consur-active.png") no-repeat left top;
	background-size: contain;
}

#u486-4
{
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	line-height: 14px;
	position: relative;
}

#u1663
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u1968
{
	background-color: transparent;
	-webkit-transform: matrix(0,1,-1,0,267,-153);
	-ms-transform: matrix(0,1,-1,0,267,-153);
	transform: matrix(0,1,-1,0,267,-153);
	position: relative;
}

#u1316-13,#u477,#u482,#u1379-4,#u1628
{
	background-color: transparent;
	position: relative;
}

#u914
{
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #A18186;
	border-width: 6px 0px 0px;
}

#u479-6
{
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
}

#u479-2
{
	font-weight: bold;
}

