#u1235-4
{
	background-color: transparent;
	line-height: 30px;
	font-size: 25px;
	text-align: center;
	font-weight: bold;
	position: relative;
}

#u489
{
	position: relative;
	background: transparent url("../images/nav-bar_consur.png") no-repeat left top;
	background-size: contain;
}

#u489:hover
{
	background: transparent url("../images/nav-bar_consur-over.png") no-repeat left top;
	background-size: contain;
}

#u489:active
{
	background: transparent url("../images/nav-bar_consur-down%20copy.png") no-repeat left top;
	background-size: contain;
}

#u1660
{
	position: relative;
	background: transparent url("../images/nav-bar_consur.png") no-repeat left top;
	background-size: contain;
}

#u1660:hover
{
	background: transparent url("../images/nav-bar_consur-over.png") no-repeat left top;
	background-size: contain;
}

#u1660:active
{
	background: transparent url("../images/nav-bar_consur-down%20copy.png") no-repeat left top;
	background-size: contain;
}

#u490
{
	position: relative;
	background: transparent url("../images/nav-bar_consur.png") no-repeat left top;
	background-size: contain;
}

#u490:hover
{
	background: transparent url("../images/nav-bar_consur-over.png") no-repeat left top;
	background-size: contain;
}

#u490:active
{
	background: transparent url("../images/nav-bar_consur-down%20copy.png") no-repeat left top;
	background-size: contain;
}

#u485
{
	position: relative;
	background: transparent url("../images/nav-bar_consur.png") no-repeat left top;
	background-size: contain;
}

#u485:hover
{
	background: transparent url("../images/nav-bar_consur-over.png") no-repeat left top;
	background-size: contain;
}

#u485:active
{
	background: transparent url("../images/nav-bar_consur-down%20copy.png") no-repeat left top;
	background-size: contain;
}

#u488
{
	position: relative;
	background: transparent url("../images/nav-bar_consur.png") no-repeat left top;
	background-size: contain;
}

#u488:hover
{
	background: transparent url("../images/nav-bar_consur-over.png") no-repeat left top;
	background-size: contain;
}

#u488:active
{
	background: transparent url("../images/nav-bar_consur-down%20copy.png") no-repeat left top;
	background-size: contain;
}

#u489.MuseLinkActive,#u1660.MuseLinkActive,#u490.MuseLinkActive,#u485.MuseLinkActive,#u488.MuseLinkActive
{
	background: transparent url("../images/nav-bar_consur-active.png") no-repeat left top;
	background-size: contain;
}

#u487-4,#u1627-4,#u491-4,#u492-4,#u486-4
{
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	position: relative;
}

#u475
{
	-pie-box-shadow: none;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	border-style: none;
	border-color: transparent;
	position: relative;
	background: transparent url("../images/consur%20head%20bar-01.png") no-repeat center top;
	background-size: contain;
}

#u1662,#u1663
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u480,#u1316-13,#u477,#u482,#u1379-4,#u1628
{
	background-color: transparent;
	position: relative;
}

#u914
{
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #A18186;
	position: fixed;
	border-width: 1px 0px 0px;
}

#u479-6
{
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	position: fixed;
}

#u479-2
{
	font-weight: bold;
}

