#u912-4
{
	background-color: transparent;
	line-height: 32px;
	font-size: 27px;
	text-align: center;
	font-weight: bold;
	position: relative;
}

#u1281-12
{
	text-align: justify;
}

#u289
{
	position: relative;
	background: transparent url("../images/nav-bar_consur.png") no-repeat left top;
	background-size: contain;
}

#u289:hover
{
	background: transparent url("../images/nav-bar_consur-over.png") no-repeat left top;
	background-size: contain;
}

#u289:active
{
	background: transparent url("../images/nav-bar_consur-down%20copy.png") no-repeat left top;
	background-size: contain;
}

#u1599
{
	position: relative;
	background: transparent url("../images/nav-bar_consur.png") no-repeat left top;
	background-size: contain;
}

#u1599:hover
{
	background: transparent url("../images/nav-bar_consur-over.png") no-repeat left top;
	background-size: contain;
}

#u1599:active
{
	background: transparent url("../images/nav-bar_consur-down%20copy.png") no-repeat left top;
	background-size: contain;
}

#u311
{
	position: relative;
	background: transparent url("../images/nav-bar_consur.png") no-repeat left top;
	background-size: contain;
}

#u311:hover
{
	background: transparent url("../images/nav-bar_consur-over.png") no-repeat left top;
	background-size: contain;
}

#u311:active
{
	background: transparent url("../images/nav-bar_consur-down%20copy.png") no-repeat left top;
	background-size: contain;
}

#u310
{
	position: relative;
	background: transparent url("../images/nav-bar_consur.png") no-repeat left top;
	background-size: contain;
}

#u310:hover
{
	background: transparent url("../images/nav-bar_consur-over.png") no-repeat left top;
	background-size: contain;
}

#u310:active
{
	background: transparent url("../images/nav-bar_consur-down%20copy.png") no-repeat left top;
	background-size: contain;
}

#u312
{
	position: relative;
	background: transparent url("../images/nav-bar_consur.png") no-repeat left top;
	background-size: contain;
}

#u312:hover
{
	background: transparent url("../images/nav-bar_consur-over.png") no-repeat left top;
	background-size: contain;
}

#u312:active
{
	background: transparent url("../images/nav-bar_consur-down%20copy.png") no-repeat left top;
	background-size: contain;
}

#u289.MuseLinkActive,#u1599.MuseLinkActive,#u311.MuseLinkActive,#u310.MuseLinkActive,#u312.MuseLinkActive
{
	background: transparent url("../images/nav-bar_consur-active.png") no-repeat left top;
	background-size: contain;
}

#u314-4,#u1600-4,#u316-4,#u315-4,#u317-4
{
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	position: relative;
}

#u1650,#u1664
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u210,#u1281-14,#u1380-4,#u1679,#u419,#u228
{
	background-color: transparent;
	position: relative;
}

#u911
{
	position: relative;
}

#u911_img
{
	vertical-align: top;
	background: url("../images/consur%20head%20bar-01-u911.png") no-repeat 0px 0px;
}

#u1572
{
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #A18186;
	position: fixed;
	border-width: 1px 0px 0px;
}

#u1573-6
{
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	position: fixed;
}

#u1573-2
{
	font-weight: bold;
}

