.version.about_us /* version checker */
{
	color: #0000E1;
	background-color: #BCA9B8;
}

@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

.html
{
	background: #FFFFFF url("../../images/mainbg.jpg") repeat left top scroll;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 1023.2891880456393px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 1px;
}

#page_position_content
{
	padding-bottom: 355px;
	width: 0.01px;
}

#pu2756
{
	width: 0.01px;
	margin-left: -98px;
}

#u2756
{
	z-index: 2;
	width: 240px;
	margin-right: -10000px;
	margin-top: 65px;
	left: 362px;
}

#u2753
{
	z-index: 4;
	width: 244px;
	margin-right: -10000px;
	margin-top: 65px;
	left: 360px;
}

#u2750
{
	z-index: 6;
	margin-right: -10000px;
}

#u2775-4
{
	z-index: 24;
	width: 166px;
	min-height: 38px;
	margin-right: -10000px;
	margin-top: 139px;
	left: 134px;
}

#pu2761-14
{
	width: 0.01px;
	padding-bottom: 10px;
	margin-left: 10px;
	margin-top: 3px;
}

#u2761-14
{
	z-index: 10;
	width: 213px;
	min-height: 108px;
	margin-right: -10000px;
	margin-top: 172px;
}

#u2782
{
	z-index: 28;
	width: 216px;
	margin-right: -10000px;
	left: 1px;
}

#u2763
{
	z-index: 29;
	width: 216px;
	margin-right: -10000px;
}

#u2766
{
	z-index: 30;
	width: 216px;
	height: 29px;
}

#u2766:hover
{
	width: 216px;
	height: 29px;
	min-height: 0px;
	margin: 0px;
}

#u2766:active
{
	width: 216px;
	height: 29px;
	min-height: 0px;
	margin: 0px;
}

#u2766.MuseLinkActive
{
	width: 216px;
	height: 29px;
	min-height: 0px;
	margin: 0px;
}

#u2764
{
	z-index: 34;
	width: 216px;
	height: 29px;
	margin-top: 2px;
}

#u2764:hover
{
	width: 216px;
	height: 29px;
	min-height: 0px;
	margin: 2px 0px 0px;
}

#u2764:active
{
	width: 216px;
	height: 29px;
	min-height: 0px;
	margin: 2px 0px 0px;
}

#u2765
{
	z-index: 32;
	width: 216px;
	height: 29px;
	margin-top: 2px;
}

#u2764.MuseLinkActive,#u2765:hover
{
	width: 216px;
	height: 29px;
	min-height: 0px;
	margin: 2px 0px 0px;
}

#u2765:active
{
	width: 216px;
	height: 29px;
	min-height: 0px;
	margin: 2px 0px 0px;
}

#u2767
{
	z-index: 31;
	width: 216px;
	height: 29px;
	margin-top: 2px;
}

#u2765.MuseLinkActive,#u2767:hover
{
	width: 216px;
	height: 29px;
	min-height: 0px;
	margin: 2px 0px 0px;
}

#u2767:active
{
	width: 216px;
	height: 29px;
	min-height: 0px;
	margin: 2px 0px 0px;
}

#u2767.MuseLinkActive
{
	width: 216px;
	height: 29px;
	min-height: 0px;
	margin: 2px 0px 0px;
}

#u2768
{
	z-index: 33;
	width: 216px;
	height: 29px;
	margin-top: 3px;
}

#u2768:hover
{
	width: 216px;
	height: 29px;
	min-height: 0px;
	margin: 3px 0px 0px;
}

#u2768:active
{
	width: 216px;
	height: 29px;
	min-height: 0px;
	margin: 3px 0px 0px;
}

#u2768.MuseLinkActive
{
	width: 216px;
	height: 29px;
	min-height: 0px;
	margin: 3px 0px 0px;
}

#u2769
{
	z-index: 35;
	width: 162px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 8px;
}

#u2773-4
{
	z-index: 36;
	width: 162px;
	min-height: 22px;
}

#u2774-4
{
	z-index: 52;
	width: 162px;
	min-height: 22px;
	margin-top: 10px;
}

#u2772-4
{
	z-index: 44;
	width: 162px;
	min-height: 22px;
	margin-top: 10px;
}

#u2770-4
{
	z-index: 40;
	width: 162px;
	min-height: 22px;
	margin-top: 10px;
}

#u2771-4
{
	z-index: 48;
	width: 162px;
	min-height: 29px;
	margin-top: 6px;
}

#u2777
{
	z-index: 56;
	width: 263px;
	margin-right: -10000px;
	margin-top: 172px;
	left: 121px;
}

#u3086
{
	z-index: 58;
	width: 172px;
	margin-right: -10000px;
	margin-top: 288px;
	left: 13px;
}

#pu3074
{
	width: 0.01px;
	margin-right: -10000px;
}

#u3074
{
	z-index: 66;
	width: 20px;
}

#u3080
{
	z-index: 68;
	width: 20px;
	margin-top: 8px;
}

#u2762-7
{
	z-index: 59;
	width: 130px;
	min-height: 47px;
	margin-right: -10000px;
	left: 42px;
}

#u2759
{
	z-index: 8;
	width: 203px;
	margin-left: 10px;
	top: -3px;
	margin-bottom: -3px;
}

#u2759_img
{
	padding-top: 3px;
	padding-bottom: 3px;
}

body
{
	position: relative;
	min-width: 768px;
}

#page .verticalspacer
{
	clear: both;
}

