.version.index /* version checker */
{
	color: #0000E8;
	background-color: #9C4863;
}

@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

.html
{
	background: #FFFFFF url("../../images/mainbg.jpg") repeat left top scroll;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 1023.6500000000003px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
}

#page_position_content
{
	padding-bottom: 196px;
	width: 0.01px;
}

#pu2795-7
{
	width: 0.01px;
	margin-left: -98px;
}

#u2795-7
{
	z-index: 2;
	width: 417px;
	min-height: 76px;
	background-color: transparent;
	font-size: 15px;
	text-align: justify;
	line-height: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 385px;
	left: 389px;
}

#u2795-4
{
	text-decoration: underline;
}

#u2842-7
{
	z-index: 9;
	width: 196px;
	min-height: 66px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	text-align: justify;
	letter-spacing: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 286px;
	left: 389px;
}

#u2795-2,#u2842,#u2842-3
{
	font-weight: bold;
}

#u2819-4
{
	z-index: 23;
	width: 196px;
	min-height: 41px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	font-size: 30px;
	text-align: center;
	line-height: 36px;
	position: relative;
	margin-right: -10000px;
	margin-top: 195px;
	left: 389px;
	border-width: 0px 0px 1px;
}

#u2841
{
	z-index: 29;
	width: 325px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 161px;
	left: 572px;
}

#u2834
{
	z-index: 30;
	width: 325px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2834_img
{
	padding-left: 31px;
	padding-right: 36px;
	padding-bottom: 4px;
}

#u2833-6
{
	z-index: 32;
	width: 127px;
	min-height: 36px;
	background-color: transparent;
	line-height: 15px;
	font-size: 14px;
	text-align: center;
	color: #FFFFFF;
	font-weight: bold;
	-webkit-transform: matrix(0.7986,-0.6018,0.6018,0.7986,2,42);
	-ms-transform: matrix(0.7986,-0.6018,0.6018,0.7986,2,42);
	transform: matrix(0.7986,-0.6018,0.6018,0.7986,2,42);
	position: relative;
	margin-right: -10000px;
	margin-top: 51px;
	left: 19px;
}

#u2832-9
{
	z-index: 38;
	width: 180px;
	min-height: 103px;
	background-color: transparent;
	text-align: right;
	color: #FFFFFF;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 52px;
	left: 41px;
}

#u2832-2,#u2832-3
{
	font-size: 13px;
	line-height: 20px;
}

#u2832-4
{
	line-height: 28px;
}

#u2832-5,#u2832-7
{
	font-size: 18px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u2832-6
{
	font-size: 25px;
	line-height: 39px;
}

#u2846
{
	z-index: 47;
	width: 380px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 507px;
	left: 389px;
}

#u2847-10
{
	z-index: 48;
	width: 190px;
	min-height: 105px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 190px;
}

#u2848
{
	z-index: 58;
	width: 380px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
}

#u2868-4
{
	z-index: 73;
	width: 380px;
	min-height: 31px;
	background-color: transparent;
	font-size: 15px;
	line-height: 18px;
	font-weight: bold;
	position: relative;
}

#pu2856-14
{
	width: 0.01px;
	margin-top: 1px;
}

#u2856-14
{
	z-index: 59;
	width: 184px;
	min-height: 105px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2847-8 > #u2847-2:before,#u2847-8 > #u2847-4:before,#u2847-8 > #u2847-6:before,#u2847-8 > #u2847-7:before,#u2856-12 > #u2856-2:before,#u2856-12 > #u2856-4:before,#u2856-12 > #u2856-6:before,#u2856-12 > #u2856-8:before,#u2856-12 > #u2856-10:before,#u2856-12 > #u2856-11:before
{
	visibility: hidden;
	counter-increment: list 0;
}

#u2857
{
	z-index: 77;
	width: 12px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 24px;
}

#u2862
{
	z-index: 78;
	width: 12px;
	background-color: transparent;
	position: relative;
}

#u2858
{
	z-index: 80;
	width: 12px;
	background-color: transparent;
	margin-top: 5px;
	position: relative;
}

#u2864
{
	z-index: 82;
	width: 12px;
	background-color: transparent;
	margin-top: 5px;
	position: relative;
}

#u2860
{
	z-index: 84;
	width: 12px;
	background-color: transparent;
	margin-top: 5px;
	position: relative;
}

#u2866
{
	z-index: 86;
	width: 12px;
	background-color: transparent;
	margin-top: 4px;
	position: relative;
}

#u2849
{
	z-index: 88;
	width: 12px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 215px;
}

#u2850
{
	z-index: 89;
	width: 12px;
	background-color: transparent;
	position: relative;
}

#u2854
{
	z-index: 91;
	width: 12px;
	background-color: transparent;
	margin-top: 5px;
	position: relative;
}

#u2852
{
	z-index: 93;
	width: 12px;
	background-color: transparent;
	margin-top: 5px;
	position: relative;
}

#u2756
{
	z-index: 95;
	width: 240px;
	margin-right: -10000px;
	margin-top: 65px;
	left: 362px;
}

#u2753
{
	z-index: 97;
	width: 244px;
	margin-right: -10000px;
	margin-top: 65px;
	left: 360px;
}

#u2750
{
	z-index: 99;
	margin-right: -10000px;
}

#u2759
{
	z-index: 101;
	width: 203px;
	margin-right: -10000px;
	margin-top: 526px;
	left: 107px;
}

#u2759_img
{
	padding-top: 3px;
	padding-bottom: 3px;
}

#u2761-14
{
	z-index: 103;
	width: 213px;
	min-height: 108px;
	margin-right: -10000px;
	margin-top: 352px;
	left: 107px;
}

#u2775-4
{
	z-index: 117;
	width: 166px;
	min-height: 38px;
	margin-right: -10000px;
	margin-top: 139px;
	left: 134px;
}

#u2782
{
	z-index: 121;
	width: 216px;
	margin-right: -10000px;
	margin-top: 180px;
	left: 109px;
}

#u2763
{
	z-index: 122;
	width: 216px;
	margin-right: -10000px;
}

#u2766
{
	z-index: 123;
	width: 216px;
	height: 29px;
}

#u2766:hover
{
	width: 216px;
	height: 29px;
	min-height: 0px;
	margin: 0px;
}

#u2766:active
{
	width: 216px;
	height: 29px;
	min-height: 0px;
	margin: 0px;
}

#u2766.MuseLinkActive
{
	width: 216px;
	height: 29px;
	min-height: 0px;
	margin: 0px;
}

#u2764
{
	z-index: 127;
	width: 216px;
	height: 29px;
	margin-top: 2px;
}

#u2764:hover
{
	width: 216px;
	height: 29px;
	min-height: 0px;
	margin: 2px 0px 0px;
}

#u2764:active
{
	width: 216px;
	height: 29px;
	min-height: 0px;
	margin: 2px 0px 0px;
}

#u2765
{
	z-index: 125;
	width: 216px;
	height: 29px;
	margin-top: 2px;
}

#u2764.MuseLinkActive,#u2765:hover
{
	width: 216px;
	height: 29px;
	min-height: 0px;
	margin: 2px 0px 0px;
}

#u2765:active
{
	width: 216px;
	height: 29px;
	min-height: 0px;
	margin: 2px 0px 0px;
}

#u2767
{
	z-index: 124;
	width: 216px;
	height: 29px;
	margin-top: 2px;
}

#u2765.MuseLinkActive,#u2767:hover
{
	width: 216px;
	height: 29px;
	min-height: 0px;
	margin: 2px 0px 0px;
}

#u2767:active
{
	width: 216px;
	height: 29px;
	min-height: 0px;
	margin: 2px 0px 0px;
}

#u2767.MuseLinkActive
{
	width: 216px;
	height: 29px;
	min-height: 0px;
	margin: 2px 0px 0px;
}

#u2768
{
	z-index: 126;
	width: 216px;
	height: 29px;
	margin-top: 3px;
}

#u2768:hover
{
	width: 216px;
	height: 29px;
	min-height: 0px;
	margin: 3px 0px 0px;
}

#u2768:active
{
	width: 216px;
	height: 29px;
	min-height: 0px;
	margin: 3px 0px 0px;
}

#u2768.MuseLinkActive
{
	width: 216px;
	height: 29px;
	min-height: 0px;
	margin: 3px 0px 0px;
}

#u2769
{
	z-index: 128;
	width: 162px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 8px;
}

#u2773-4
{
	z-index: 129;
	width: 162px;
	min-height: 22px;
}

#u2774-4
{
	z-index: 145;
	width: 162px;
	min-height: 22px;
	margin-top: 10px;
}

#u2772-4
{
	z-index: 137;
	width: 162px;
	min-height: 22px;
	margin-top: 10px;
}

#u2770-4
{
	z-index: 133;
	width: 162px;
	min-height: 22px;
	margin-top: 10px;
}

#u2771-4
{
	z-index: 141;
	width: 162px;
	min-height: 29px;
	margin-top: 6px;
}

#u2777
{
	z-index: 149;
	width: 263px;
	margin-right: -10000px;
	margin-top: 352px;
	left: 228px;
}

#u3086
{
	z-index: 151;
	width: 172px;
	margin-right: -10000px;
	margin-top: 468px;
	left: 120px;
}

#pu3074
{
	width: 0.01px;
	margin-right: -10000px;
}

#u3074
{
	z-index: 159;
	width: 20px;
}

#u3080
{
	z-index: 161;
	width: 20px;
	margin-top: 8px;
}

#u2762-7
{
	z-index: 152;
	width: 130px;
	min-height: 47px;
	margin-right: -10000px;
	left: 42px;
}

#pu2836
{
	width: 0.01px;
	margin-left: 10px;
}

#u2836
{
	z-index: 27;
	width: 202px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2836_img
{
	padding-top: 1px;
	padding-bottom: 1px;
}

#u2796-7
{
	z-index: 16;
	width: 417px;
	min-height: 149px;
	background-color: transparent;
	font-size: 15px;
	text-align: justify;
	line-height: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 282px;
}

body
{
	position: relative;
	min-width: 768px;
}

#page .verticalspacer
{
	clear: both;
}

